# Pandas Assignment
___________________________________________________________________________________________________________________________

 
 ### _Data analysis with pandas_
 
 *In this task you should use Pandas to answer a few questions about the adult dataset given in the folder.*
 
 Unique values of all features:
   * `age`: continuous.
   
   * `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
   
   * `fnlwgt`: continuous.
   
   * `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
   
   * `education-num`: continuous.
   
   * `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
   
   * `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
   
   * `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
   
   * `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
   
   * `sex`: Female, Male.
   
   * `capital-gain`: continuous.
   
   * `capital-loss`: continuous.
   
   * `hours-per-week`: continuous.
   
   * `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
   
   * `salary`: >50K,<=50K

In [3]:
import pandas as pd
import numpy as np

#### Read data from the .csv file 'data.csv' into a pandas dataframe and view the first 5 values

In [6]:
data=pd.read_csv("adult_data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

#### 1. How many men and women are represented in this dataset?

In [7]:
men=women=0
men=len(data[data['sex']=='Male'])
women=len(data[data['sex']=='Female'])
print("No. of men: ",men)
print("No. of women: ",women)

No. of men:  21790
No. of women:  10771

#### 2. What is the average age of women?

In [8]:
print("Average age of women: ",(data[data['sex']=='Female']['age']).mean())

Average age of women:  36.85823043357163

#### 3. What is the percentage of german citizens?

In [10]:
print("Percentage of German citizens: ",((data[data['native-country']=='Germany'].shape[0])/data.shape[0])*100)

Percentage of German citizens:  0.42074874850281013

#### 4. What is the mean of age for those who earn more than 50K per year and those who earn less than 50K per year?

In [16]:
print("Mean of ages of people who earn more than 50K a year: ",data[data["salary"]=='>50K']['age'].mean())
print("Mean of ages of people who earn less than 50K a year: ",data[data['salary']=='<=50K']['age'].mean())

Mean of ages of people who earn more than 50K a year:  44.24984058155847
MEan of ages of people who earn less than 50K a year:  36.78373786407767

#### 5. What is the standard deviation of age for those who earn more than 50K per year and those who earn less than 50K per year?

In [17]:
print("Standard deviation of ages of people who earn more than 50K a year: ",data[data["salary"]=='>50K']['age'].std())
print("Standard deviation of ages of people who earn less than 50K a year: ",data[data['salary']=='<=50K']['age'].std())

Standard deviation of ages of people who earn more than 50K a year:  10.519027719851826
Standard deviation of ages of people who earn less than 50K a year:  14.02008849082488

#### 6. Is it true that people who earn more than 50K have at least high school education?

In [28]:
if (len(data[(data['salary']=='>50K') & (data['education-num']<9)])==0):
    print("True")
else:
    print("False")

False

#### 7. Display age statistics for each race and each gender. Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [67]:
print("Age statistics for each gender: \n",data.groupby(['sex'])['age'].describe())
print("\n")
print("Age statistics for each race: \n",data.groupby(['race'])['age'].describe())
print("Maximun age of Amer-Indian_Eskimo men: ",max(data[(data['sex']=='Male') & (data['race']=='Amer-Indian-Eskimo')]['age']))

Age statistics for each gender:
           count       mean        std   min   25%   50%   75%   max
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0


Age statistics for each race:
                       count       mean        std   min   25%   50%   75%  \
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                     max
race
Amer-Indian-Eskimo  82.0
Asian-Pac-Islander  90.0
Black               90.0
Other               77.0
White               90.0
Maximun age of Amer-Indian_Eskimo men:  82

#### 8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [80]:
married=data[(data['sex']=='Male') & (data['marital-status'].str.startswith("Married")) & (data['salary']=='>50K')].shape[0]
single=data[(data['sex']=='Male') & (data['salary']=='>50K')].shape[0] - married
if married>single:
    print("Married men have a greater proportion")
else:
    print("Single men have a greater proportion")

Married men have a greater proportion

#### 9. What is the maximum number of hours a person works per week? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [85]:
M=max(data['hours-per-week'])
print("Maximum no. of hours a person works per week: ",M)
N=data[data['hours-per-week']==M].shape[0]
print("No. of people who work such a no. of hours: ",N)
print("Percentage of people who work for maximum no. of hours and earn >50K: ",
      (data[(data['hours-per-week']==M) & (data['salary']=='>50K')].shape[0]/N)*100,"%")
print(data[(data['hours-per-week']==M) & (data['salary']=='>50K')].shape[0])

Maximum no. of hours a person works per week:  99
No. of people who work such a no. of hours:  85
Percentage of people who work for maximum no. of hours and earn >50K:  29.411764705882355 %
25

#### 10. Count the average time of work for those who earn a little and a lot for each country. What will these be for Japan?

In [94]:
Time=data.groupby(['native-country','salary'])['hours-per-week'].mean()
print("Average time of work of those who earn a little and earn more for each country: \n",Time)
print("Average time of work of those who earn a little and earn more for Japan: \n",Time['Japan'])

Average time of work of those who earn a little and earn more for each country:
 native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64
Average time of work of those who earn a little and earn more for Japan:
 salary
<=50K    41.000000
>50K     47.958333
Name: hours-per-week, dtype: float64