In [4]:
# Pandas Assignment
___________________________________________________________________________________________________________________________

 
 ### _Data analysis with pandas_
 
 *In this task you should use Pandas to answer a few questions about the adult dataset given in the folder.*
 
 Unique values of all features:
   * `age`: continuous.
   
   * `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
   
   * `fnlwgt`: continuous.
   
   * `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
   
   * `education-num`: continuous.
   
   * `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
   
   * `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
   
   * `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
   
   * `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
   
   * `sex`: Female, Male.
   
   * `capital-gain`: continuous.
   
   * `capital-loss`: continuous.
   
   * `hours-per-week`: continuous.
   
   * `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
   
   * `salary`: >50K,<=50K

IndentationError: unexpected indent (<ipython-input-4-a1e3fbae784a>, line 7)

In [5]:
import pandas as pd
import numpy as np

#### Read data from the .csv file 'data.csv' into a pandas dataframe and view the first 5 values

In [6]:
df=pd.read_csv('adult_data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

#### 1. How many men and women are represented in this dataset?

In [7]:
df=pd.read_csv('adult_data.csv')
df.index.size

32561

#### 2. What is the average age of women?

In [8]:
df.loc[df['sex']=='Female']['age'].mean()

36.85823043357163

#### 3. What is the percentage of german citizens?

In [9]:
df.loc[df['native-country']=='Germany'].index.size*100/df.index.size

0.42074874850281013

#### 4. What is the mean of age for those who earn more than 50K per year and those who earn less than 50K per year?

In [10]:
#df.loc[df['salary']=='<=50K']['age'].mean()
df.query('salary=="<=50K"')['age'].mean()

36.78373786407767

In [11]:
df.loc[df['salary']=='>50K']['age'].mean()

44.24984058155847

#### 5. What is the standard deviation of age for those who earn more than 50K per year and those who earn less than 50K per year?

In [12]:
#lesser than 50K
df.query('salary=="<=50K"')['age'].std()

14.020088490824813

In [13]:
#more than 50K
df.query('salary==">50K"')['age'].std()

10.51902771985177

#### 6. Is it true that people who earn more than 50K have at least high school education?

In [14]:
#Answering with a bool value for Q6
q6=df.query('education=="1st-4th" | education=="5th-6th"|education=="5th-6th"|education=="7th-8th"|education=="Preschool"').query('salary==">50K"')
q6.empty

False

#### 7. Display age statistics for each race and each gender. Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [15]:
df.groupby(['race','sex'])['age'].describe()

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

In [16]:
#Using loc:
df.loc[(df['race']=="Amer-Indian-Eskimo")&(df['sex']=="Male")]['age'].max()
#Using query
df.query('race=="Amer-Indian-Eskimo"').query('sex=="Male"')['age'].max()

82

#### 8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [54]:
a=df[['salary','marital-status']].replace({'marital-status':{'Divorced':'bachelors','Never-married':'bachelors',
                                           'Separated':'bachelors','Widowed':'bachelors',
                                            'Married-AF-spouse':'Married','Married-civ-spouse':'Married',
                                            'Married-spouse-absent':'Married'}}).query('salary==">50K"')
a.groupby('marital-status').describe()

               salary
                count unique   top  freq
marital-status
Married          6736      1  >50K  6736
bachelors        1105      1  >50K  1105

#### 9. What is the maximum number of hours a person works per week? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [111]:
#max hours a person works a week
max_hours=df['hours-per-week'].max()
#total number of people
b=df.loc[df['hours-per-week']==max_hours,'salary']
no_people=len(b)

In [112]:
# % of people earning >50K
c=pd.DataFrame(b,columns=["max-hours","salary"])
percentage=c.loc[c['salary']==">50K"].index.size*100/no_people
percentage

29.41176470588235

#### 10. Count the average time of work for those who earn a little and a lot for each country. What will these be for Japan?

In [148]:
d=df.groupby(['native-country','salary'])['hours-per-week'].mean()
h=pd.DataFrame(d)
h.rename(columns={'hours-per-week':'mean hours'})

                       mean hours
native-country salary
?              <=50K    40.164760
               >50K     45.547945
Cambodia       <=50K    41.416667
               >50K     40.000000
Canada         <=50K    37.914634
...                           ...
United-States  >50K     45.505369
Vietnam        <=50K    37.193548
               >50K     39.200000
Yugoslavia     <=50K    41.600000
               >50K     49.500000

[82 rows x 1 columns]

In [139]:
df.loc[df['native-country']=="Japan"].groupby('salary')['hours-per-week'].mean()

salary
<=50K    41.000000
>50K     47.958333
Name: hours-per-week, dtype: float64